body {
    background-color:khaki;
    border-color: 4px solid hotpink;
}

.top{

    text-align: center;
    color:darkblue;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 4px -3px tomato;
}


hr{
    border: 1px solid black;
}